<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<!--
		<param name="Threshold" value="DEBUG" />
		<param name="Threshold" value="INFO"/> 
	    <param name="Threshold" value="TRACE"/>
		-->
		<param name="Threshold" value="INFO"/> 


		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d: [%p,%c{1}] '%t' %m%n" />
		</layout>
		
	</appender>

	<appender name="APPLOGFILE" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="mainLog.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="50000KB" />
		<param name="MaxBackupIndex" value="14" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d: [%p,%c{1}] '%t' %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
                        <param name="levelMin" value="INFO" />
                </filter>
	</appender>

	<appender name="APPLOGFILE_WARN_ERROR" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="error.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="50000KB" />
		<param name="MaxBackupIndex" value="14" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d: [%p,%c{1}] '%t' %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
                        <param name="levelMin" value="WARN" />
                </filter>
	</appender>

	<root>
		<!--
		<level value="DEBUG" />
		<level value="INFO" />
		-->
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="APPLOGFILE" />
		<appender-ref ref="APPLOGFILE_WARN_ERROR" />
	</root>
</log4j:configuration>

